In [ ]:
# Count or Frequency Encoding

In [1]:
import pandas as pd
import numpy as np

In [36]:
data = pd.read_csv("mercedes.csv")
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [23]:
pd.get_dummies(data).shape

(4209, 565)

In [24]:
len(data["X1"].unique())

27

In [25]:
len(data["X2"].unique())

44

In [26]:
data.columns[0:]

Index(['ID', 'y', 'X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8',
       ...
       'X375', 'X376', 'X377', 'X378', 'X379', 'X380', 'X382', 'X383', 'X384',
       'X385'],
      dtype='object', length=378)

In [15]:
# lets count the categories/levels in the categorical variable X2 and convert the same into a dict (re-mapping purpose)

In [27]:
data["X2"].value_counts().to_dict()

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'q': 5,
 'al': 5,
 'an': 5,
 'ah': 4,
 'av': 4,
 'p': 4,
 'au': 3,
 'o': 1,
 'ar': 1,
 'l': 1,
 'aa': 1,
 'am': 1,
 'c': 1,
 'j': 1,
 'af': 1}

In [16]:
# we will now replace each levels in X2 with it's count value - mapping

In [37]:
x2_count_levels = data.X2.value_counts().to_dict()
x2_count_levels

{'as': 1659,
 'ae': 496,
 'ai': 415,
 'm': 367,
 'ak': 265,
 'r': 153,
 'n': 137,
 's': 94,
 'f': 87,
 'e': 81,
 'aq': 63,
 'ay': 54,
 'a': 47,
 't': 29,
 'i': 25,
 'k': 25,
 'b': 21,
 'ao': 20,
 'z': 19,
 'ag': 19,
 'd': 18,
 'ac': 13,
 'g': 12,
 'y': 11,
 'ap': 11,
 'x': 10,
 'aw': 8,
 'h': 6,
 'at': 6,
 'q': 5,
 'al': 5,
 'an': 5,
 'ah': 4,
 'av': 4,
 'p': 4,
 'au': 3,
 'o': 1,
 'ar': 1,
 'l': 1,
 'aa': 1,
 'am': 1,
 'c': 1,
 'j': 1,
 'af': 1}

In [38]:
data.X2 = data.X2.map(x2_count_levels)

In [39]:
data.X2

0          6
1          4
2        137
3        137
4        137
        ...
4204    1659
4205      29
4206     153
4207      81
4208     496
Name: X2, Length: 4209, dtype: int64

In [40]:
data.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,6,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,4,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,137,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,137,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,137,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0