In [15]:
print('My name is {} and I live in {} and my surname is {lastName}'.format('Rocky','Kolkata',lastName="Rout"))

My name is Rocky and I live in Kolkata and my surname is Rout

In [35]:
myName="bipla bs"

In [38]:
myName.endswith('bs')

True

In [50]:
a=[1,2,3,'fourth']

In [51]:
type(a)

list

In [57]:
a.append(99)

In [58]:
a

[1, 2, 3, 'fourth', 77, 77, 99]

In [65]:
a[2:4]

[3, 'fourth']

In [60]:
a

[1, 2, 3, 'fourth', 77, 77, 99]

In [61]:
a.append([666,888])

In [62]:
a

[1, 2, 3, 'fourth', 77, 77, 99, [666, 888]]

In [63]:
a.extend([3333,555])

In [64]:
a

[1, 2, 3, 'fourth', 77, 77, 99, [666, 888], 3333, 555]

In [70]:
a.insert(2,'new 3rd element -2')

In [71]:
a

[1,
 2,
 'new 3rd element -2',
 'new 3rd element -1',
 'new 3rd element',
 3,
 'fourth',
 77,
 77,
 99,
 [666, 888],
 3333,
 555]

In [72]:
a.pop(1)

2

In [73]:
a

[1,
 'new 3rd element -2',
 'new 3rd element -1',
 'new 3rd element',
 3,
 'fourth',
 77,
 77,
 99,
 [666, 888],
 3333,
 555]

In [80]:
b=[10,20,30,40,50,20]

In [75]:
b

[10, 20, 30, 40, 50]

In [77]:
sum(b)

150

In [82]:
b.count()

TypeError: count() takes exactly one argument (0 given)

print()

# Python

## Learn

### Nice

#### Very Good

#hello

In [ ]:
##sets : No duplicate values, No indexing, Supports hash table (Associative Array)

In [88]:
c_set = set()
c_set = {1,2,3,'4'}
type(c_set)
c_set

{1, 2, 3, '4'}

In [98]:
a={1:1,2:2,3:3,4:"rocky"}
type(a)
a

{1: 1, 2: 2, 3: 3, 4: 'rocky'}

In [ ]:
## dict can be indexed - important, key value pair

In [102]:
for i in a.items():
    print(i)

(1, 1)
(2, 2)
(3, 3)
(4, 'rocky')

In [ ]:
# nested dictionary

In [103]:
dic1 = {'passenger_car':'TATA'}
dic2 = {'sports_car':'Ferrari'}
dic3 = {'car1':dic1,'car2':dic2}
dic3

{'car1': {'passenger_car': 'TATA'}, 'car2': {'sports_car': 'Ferrari'}}

In [104]:
dic3['car2']['sports_car']

'Ferrari'

In [ ]:
#tuple same as dictionary but not MUTABLE

In [105]:
d=tuple()
type(d)

tuple

In [106]:
d=(12,3,"rock")
d

(12, 3, 'rock')

In [107]:
d[0]

12

In [108]:
d[0]="sss"

TypeError: 'tuple' object does not support item assignment

In [109]:
d.count(3)

1